<!doctype html>
<html>
<head>
	<title>Code Companion- Home</title>
	<link rel ="stylesheet" href = "/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/d5653f4676.js" crossorigin="anonymous"></script>
	<script>

		function getSelected(id, number){
			localStorage.setItem("id",id);
			localStorage.setItem("number",number);
			
			
			getName(id)

	
		setTimeout(function(){getData()
		},500);
					
		}

		function getName(id) {                    
   		 
   		 var item = id;
			$.get("http://localhost:9000/topic/"+item);
			
			
		}
		function getData(){
			$.get("http://localhost:9000/getData",{},function(res){
				let data=res; 
				data=JSON.stringify(data)
				
			   localStorage.setItem("data",data)
			   console.log(data)
			   window.location.href="/learn"	

})
		}


			
	
		

		function getLevel(){
			//get users level and progress towards next level
			var exp ="<%= user.exp %>"
			var level = Math.floor(exp/100);
			var progress= exp%100;

			document.getElementById("expText").innerHTML=progress+"/100";
			document.getElementById("level").innerHTML=level;
			document.getElementById("expbar").style.width= progress+"%";
			getCompleted();

		}

		function getCompleted(){
			var completed= "<%= user.completed%>"
			var clean = completed.replace(/ :/g, "")
			clean = clean.replace(/:/g, "")
			var split = clean.split(",");
			var uniqueSet= new Set(split)
			var array= [...uniqueSet];


			for(i=1;i<array.length;i++){
			 	document.getElementById(array[i]).style.background= "#CCFFCC"
			 }
			
		}

	</script>
</head>

<body onload="getLevel()">

		
	<div class="navigationbar"> 

		
		<a href="/home"><img id="banner" src="/resources/codetextlogo.png" width="275" height="55"> </a>
		<a class="setup" href="/setup">Set up Python</a>
		
		<div class="dropdownmenu">
			<img src="<%=user.thumbnail%>" alt="Avatar" id="avatar"></a>
			<a class="dropdown" href="/profile"> <%= user.name %></a>
			<div class="dropdowncontent">
				<a href="/logout">Sign Out</a>
		  </div>
		</div>
		<div id="expcontainer" >
			<div id="expbar">
				<div id="expText"></div>
			</div>
			
		</div>
		<div id="level"></div>
		<div id="levelIcon" ><i class="fab fa-python"></i></div>
		
	</div>

<div id= "mainPanel">

<div id="lessons">Lessons</div>
	
<div id="lessonButtons">
	<div class="row">
		<div class="bcolumn" onClick="getSelected('FirstTopic', 1)" id=1 style="background-color:lightgray">
		  <h2>Introduction to Python</h2>
		  <p>Get straight into learning to code by printing text and using comments</p>
		</div>
		<div class="bcolumn" onClick="getSelected('Variables', 2)" id=2 style="background-color:lightgray">
		  <h2>Variables and Types</h2>
		  <p>This topic covers how to declare and use variables</p>
		</div>
		<div class="bcolumn" onClick="getSelected('Structure', 3)" id=3 style="background-color:lightgray">
		  <h2>Structuring Code</h2>
		  <p>Learn how to structure code into blocks in Python</p>
		</div>
	  </div>
	  <div class="row">
		<div class="bcolumn" onClick="getSelected('Operators', 4)" id=4 style="background-color:lightgray">
		  <h2>Mathematic Operators</h2>
		  <p>This topic covers how to use numbers, floats and mathematic operators</p>
		</div>
		<div class="bcolumn" onClick="getSelected('Lists', 5)" id=5 style="background-color:lightgray">
		  <h2>Lists</h2>
		  <p>This topic covers lists and how to use them</p>
		</div>
		<div class="bcolumn" onClick="getSelected('Loops', 6)" id=6 style="background-color:lightgray">
		  <h2>Loops</h2>
		  <p>Learn how to use for and while loops</p>
		</div>
	  </div>

	  </div>

</div>
</div>	
</div>
</body>
</html>
