<!doctype html>
<html>
<head>
	<title>Code Companion - Home</title>
	<script src="https://kit.fontawesome.com/d5653f4676.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="style.css">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

		
	<div class="navigationbar"> 

		
		<a href="/home"><img id="banner" href= "/home" src="/resources/codetextlogo.png" width="275" height="55"> </a>
	
		<a class="login" href ="/google"> Log in/Sign up</a>
		
	</div>

	<center>
		<img src="resources/codecompanionlogo.png" width="500" height="500">
	</center>


<div class="mainbody">
	<textarea readonly id="mainText" rows="4" cols="50">
Code Companion is an educational website where you can learn how to code in Python through, lessons, activities and quizzes.
Level up and earn badges while you gain knowledge of programming!
</textarea>
</div>
	
</body>
</html>
