<!doctype html>
<html>
<head>
	<title>Code Companion- Home</title>
	<link rel ="stylesheet" href = "/style.css">
	<script src="https://kit.fontawesome.com/d5653f4676.js" crossorigin="anonymous"></script>
	<script>

		function getSelected(id){
            localStorage.setItem("id",id);
			window.location.href = "/learn"
		}

		function getLevel(){
			//get users level and progress towards next level
			var exp ="<%= user.exp %>"
			var level = Math.floor(exp/100);
			var progress= exp%100;


			document.getElementById("level").innerHTML=level;
			document.getElementById("expbar").style.width= progress+"%";

		}
	</script>
</head>

<body onload="getLevel()">

		
	<div class="navigationbar"> 

		
		<a href="/home"><img id="banner" href= "/home" src="/resources/codetextlogo.png" width="275" height="55"> </a>
	
		
	  <div class="dropdownmenu">
			<a class="dropdown" href="/profile"> <%= user.name %> <em class="fa fa-caret-down"></em></a>
			<div class="dropdowncontent">
				<a href="index.html">Sign Out</a>
		  </div>
		</div>
		<div id="expcontainer" >
			<div id="expbar"></div>
		</div>
		<div id="level" ></div>
		<div id="levelIcon" ><i class="fab fa-python"></i></div>
		
	</div>

		
<button id ="First" onClick="getSelected(this.id)">First</button>
<button id ="Modulus" onClick="getSelected(this.id)">Modulus</button>
<button id ="blank" onClick="getSelected(this.id)">blank</button>
<button id ="blank" onClick="getSelected(this.id)">blank</button>
<button id ="blank" onClick="getSelected(this.id)">blank</button>
<button id ="blank" onClick="getSelected(this.id)">blank</button>
	
	
</body>
</html>
