<!doctype html>
<html>
<head>
	<title>Code Companion - Home</title>
    <link rel ="stylesheet" href="style.css"
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

		
	<div class="navigationbar"> 

		
		<a href="/home"><img id="banner" href= "/home" src="/resources/codetextlogo.png" width="275" height="55"> </a>
	
		<a class="login" href ="/google"> Log in/Sign up</a>
		
	</div>

<div class="mainbody">
	<textarea readonly id="mainText" rows="4" cols="50">
efefe
</textarea>
</div>
	
</body>
</html>
