<!doctype html>
<html>
<head>
	<title>Code Companion- Home</title>
	<link rel ="stylesheet" href = "/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/d5653f4676.js" crossorigin="anonymous"></script>
	<script>

		function getSelected(id, number){
			localStorage.setItem("id",id);
			localStorage.setItem("number",number);

			
			getName(id)

	
		setTimeout(function(){getName(id)},500);
						
		}

		function getName(id) {                    
   		 
   		 var item = id;
			$.get("http://localhost:9000/topic/"+item);
			getData()
			
		}
		function getData(){
			$.get("http://localhost:9000/getData",{},function(res){
				let data=res; 
				data=JSON.stringify(data)
				
			   localStorage.setItem("data",data)
	
			   window.location.href="/learn"

})
		}

		

		function getLevel(){
			//get users level and progress towards next level
			var exp ="<%= user.exp %>"
			var level = Math.floor(exp/100);
			var progress= exp%100;

			document.getElementById("expText").innerHTML=progress+"/100";
			document.getElementById("level").innerHTML=level;
			document.getElementById("expbar").style.width= progress+"%";
			getCompleted();

		}

		function getCompleted(){
			var completed= "<%= user.completed%>"
			var clean = completed.replace(/ :/g, "")
			clean = clean.replace(/:/g, "")
			var split = clean.split(",");
			var uniqueSet= new Set(split)
			var array= [...uniqueSet];


			for(i=1;i<array.length;i++){
			 	document.getElementById(array[i]).style.background= "#CCFFCC"
			 }
			
		}

	</script>
</head>

<body onload="getLevel()">

		
	<div class="navigationbar"> 

		
		<a href="/home"><img id="banner" src="/resources/codetextlogo.png" width="275" height="55"> </a>
		<a class="setup" href="/setup">Set up Python</a>
		
		<div class="dropdownmenu">
			<img src="<%=user.thumbnail%>" alt="Avatar" id="avatar"></a>
			<a class="dropdown" href="/profile"> <%= user.name %></a>
			<div class="dropdowncontent">
				<a href="/logout">Sign Out</a>
		  </div>
		</div>
		<div id="expcontainer" >
			<div id="expbar">
				<div id="expText"></div>
			</div>
			
		</div>
		<div id="level"></div>
		<div id="levelIcon" ><i class="fab fa-python"></i></div>
		
	</div>

<div id= "mainPanel">
    <h2>How to set up Python</h2>
    <h3>Option 1: Download Python installer</h3>
    <li>
        1. Head to the
        <a href="https.www.python.org/downloads/windows">Python download page</a>
    </li>
    <li>
        2. Click on the <strong>Latest Python 3 Release Python 3.x.x</strong>
    </li>
    <li>
        3. Scroll down and click <strong>Windows x86-64 executable installer </strong> (64-bit) or  <strong>Windows x86 executable installer </strong>(32 bit)
    </li>
    <li>
        4. Run the installer and follow the instructions
    </li>
    <h3>Option 2: Online Python Interpreters</h3>
    <p>Alternatively, online python interpreters can be used</p>
    <li>
        Python.org Online Console
        <a href="www.python.org/shell">www.python.org/shell</a>
    </li>
    <li>
        Python Fiddle
        <a href="pythonfiddle.com">pythonfiddle.com</a>
    </li>

</div>
</body>
</html>
