@font-face{
  font-family: ocrFont;
  src: url(resources/ocr-a\ bt.ttf);
  
}

.hidden{
  display: none; 
}
 
#text{

float: right;
position:relative;
width:45%;
font-size: 25px;
}

#editor{
position: relative;
text-align: center;


}

#activity{
  font-size: 50px;
  font-weight: bolder;
  float:right
}

.setup{
  margin-top:2px;
  float: left;
  color:royalblue;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 27px;
}

#container{
 position: relative;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 4;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
}

.mainbody{
  margin: auto;
  width: 70%;
  padding: 10px
}

#mainText{
  font-family: ocrFont;
  width: 100%;
  font-size: 30px;
  cursor: default;
   
}

#lessons{
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: royalblue;
    display: block;
  margin-left:38%;

}


body, html{
/* background-image: url("/resources/background.jpg"); */
	height: 100%;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
  font-family: ocrFont;
  background-attachment: fixed;
}

#main{
  margin-top: 20px;
  overflow:hidden;
  background-color: #F5F5F5;
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1400px
}

#mainPanel{
  margin-top: 20px;
  overflow:hidden;
  background-color: #F5F5F5;
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 750px
}


.navigationbar {
  overflow: hidden;
  background-color: #F5F5F5;
}

.navigationbar a.buttons {
  margin-top:7px;
  float: left;
  color:royalblue;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;

  
}

#avatar{
 height: 50px;
 float:right;
 border-radius: 50%;
 margin-top: 5px;
 margin-right: 5px;
}

#avatarLarge{
  margin-top: 50px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#name{
  margin-top:20px;
  color:royalblue;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#profileLevel{
  margin-top:10px;
  color:royalblue;
  text-align: center;

  font-size: 30px;
}

.dropdownmenu{
	  float: right;
}

#banner{
  float:left;

  padding-bottom: 0%;

}

#question{
  color: black;
  font-size:25px
}

.choice{
  color: black;
  font-size: 20px;
  cursor: pointer;	
}

.dropdown{
  margin-top:3px;
  color:royalblue;
  padding: 10px 16px;
  font-size: 25px;
  float: right;
  cursor: pointer;	
  text-decoration: none;
}

.login{
  margin-top:3px;
  color:royalblue;
  padding: 10px 16px;
  font-size: 25px;
  float: right;
  cursor: pointer;	
  text-decoration: none;
}

.dropdownmenu .dropdowncontent{
  text-decoration: none;
  margin-top: 40px;
  margin-left: 90px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size:20px
}

#profileexpcontainer{ 
 
  text-align:left;
  width: 40%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd; 
}

#profileexpbar{
  width: 0%;
  height: 28px;
    background-color: #397dff;
   
  }

.rankImage{
    width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bodyText{
  margin-top:30px;
  color:royalblue;
  text-align: center;

  font-size: 30px;
}
* {
  box-sizing: border-box;
}


.column {
  margin-left: 2%;
  margin-right: 10px;
  margin-top: 20px;
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; 
  display: none
  

}

.bcolumn {
  margin-left: 2%;
  margin-right: 10px;
  margin-top: 20px;
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; 
  cursor: pointer;

  


}

.buttons{
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

 #expTotal{
  margin-left: 8.5%;
  margin-top: 3px;
  position: absolute;
  font-weight: bold;
  display:block
 }

#expText{
  margin-left: 3.5%;
  margin-top: 3px;
  position: absolute;
  font-weight: bold;
  display:block
}

.dropdownmenu:hover .dropdowncontent{
	display: block;
}


#level{
  margin-top:-5px;
  float: right;
  color:royalblue;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 40px;
}


#levelIcon{
  margin-top:7px;
  float: right;
  color:royalblue;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 25px;
}

#expcontainer{
  
  float: right;
  text-align:left;
  width: 10%;

  margin-top:15px;
  background-color: #ddd; 
}

#expbar{
width: 0%;
height: 28px;
  background-color: #397dff
  
}

